extends layout

block content
    h1 #{title}
    ul.list-group
        each post, i in posts
            li.list-group-item
                a(href="/posts/"+post._id)=post.authorname+":  "+post.content
                br
                img(src=post.photo width=150 height=150)

