doctype html
html 
    head 
        title twitter
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body  
            
        ul
            li
                a(href='/') Home
            if user
                li
                    a(href='/posts/add') Add Posts
            if user
                li 
                    a(href='/users/logout') Logout
                li  
                    a(href='/users/reset/'+user._id) Reset Password
            else
                li 
                    a(href='/users/register') Register
                li  
                    a(href='/users/login') Login
                

                    
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2017
        
        script(src='/bower_components/jquery/dist/jquery.js')  
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')  
        
