extends layout

block content
    h1 #{title}
    form(method='POST',action='/users/register')
        #form-Group
            label Usename:
            input.form-control(name='username',type='text')
        #form-Group
            label Password:
            input.form-control(name='password',type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit') 