extends layout

block content
    h1 Reset User
    form(method='POST',action='/users/reset/'+user._id)
        #form-Group
            label Usename:
            input.form-control(name='username',type='text', value=user.username)
        #form-Group
            label New Password:
            input.form-control(name='password',type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit') 