doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    title Node File Uploads
  body
    .container
      h1 File Upload
        if msg
            div= msg
      if postid
        
        form(action='/upload/'+postid, method='POST', enctype='multipart/form-data')
            .file-field.input-field
            .btn.grey
                span File
                input(name='myImage', type='file')
            .file-path-wrapper
                input.file-path.validate(type='text')
            button.btn(type='submit') Submit
        br
      else
       
        form(action='/upload/', method='POST', enctype='multipart/form-data')
            .file-field.input-field
            .btn.grey
                span File
                input(name='myImage', type='file')
            .file-path-wrapper
                input.file-path.validate(type='text')
            button.btn(type='submit') Submit
        br


      
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
